@font-face
{
    font-family: glyphicons-halflings-regular;
/*    font-family: Sanchezregular-ita;*/
    src:url(bootstrap/fonts);
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #EBC79E;
    font-family: sanchez-bold-webfont;
}

.slider{
    padding-left: 0px;
}

.bar{
    height: 50px;
    background-color: white;
}

.col-md-12{
    padding-right: 0px;
}

.navbar-nav{
    float: right;
}

.navbar{
    border-radius: 0px;
}

.menu{
    
    padding: 0px;
}

.navbar-inverse{
    background-color: #180905;
}

.navbar-inverse .navbar-nav > li > a:hover{
    background-color: #b79f75;
}

.navbar-inverse .navbar-nav > li > a{
    font-size: 18px;
    font-weight: 550;
}

.navbar-nav > li > a{
    padding-left: 42px;
    padding-right: 42px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.img_cards{
    border-radius: 180px;
    width:200px;
    height: 200px;
}

.thumbnail{
    padding: 10px;
    background-color: #EBC79E;
    border-radius: 20px;
    border: 0px solid red;
}

h4,.h4{
    text-align: center;
    font-size: 32px;
}

.caption p{
    text-align: center;
    font-size: 18px;
}

.btn{
    display: block;
    background-color: #180905;
    color: grey;
    font-weight: 600;
    display: flow-root;
    margin: 0 auto;
    width: 50%;
    font-weight: bolder;
    height: 35px;
    border-radius: 5px;
    padding-top: 5px;
    font-size: 16px;
}

.btn:hover{
    background-color: grey;
    color: white;
}

.my_footer{
    background-color: #180905;
    color: white;
    margin-top: 30px;
    display: block;
    height: 90px;
    text-align: center;
    padding-top: 32px;
    font-size: 20px;
}